@model IEnumerable<ProjetoProduto.Models._2610.ModelVETAnimal>

<h2>Listar Animal</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codAnimal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomeAnimal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fotoAnimal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fkcodtipoanimal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fkcodcliente)
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.codAnimal)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.nomeAnimal)
    </td>
    <td>
            <div class="">
                <div class="row center">
                    <div class="col-lg-9">
                        <div class="row">
                                <div class="col-lg-3 col-md-6 mb-4" style="margin:2% 4%">
                                    <div class="card h-100">
                                        <a href="/Produto/Detalhes/@item.codAnimal">
                                            @if (@item.fotoAnimal != null)
                                            {<img class="card-img-right flex-auto d-none d-md-block" data-src=" " alt="Thumbnail [100x100]" style="width: 100px; height: 100px; " src="@item.fotoAnimal" data-holder-rendered="true">}
                                            else
                                            {<img class="card-img-right flex-auto d-none d-md-block" data-src=" " alt="Thumbnail [100x100]" style="width: 100px; height: 100px;" src="~/Images/image-not-found.jpg" data-holder-rendered="true">}
                                        </a>
                                        <div class="card-body">
                                            <h4 class="card-title">
                                                <a href="@item.fotoAnimal"></a>
                                            </h4>
                                        </div>
                                        <div class="card-footer space-between-flex" style="width:90%">

                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    <td>
        @Html.DisplayFor(modelItem => item.fkcodtipoanimal)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.fkcodcliente)
    </td>
    <td>
        @Html.ActionLink("Atualizar", "editarVETAnimal", new { id = item.codAnimal }) |
        @Html.ActionLink("Excluir", "excluirVETAnimal", new { id = item.codAnimal }, new { onclick = "return confirm('Deseja realmente excluir?');" })
    </td>
</tr>
    }

</table>