@model ProjetoProduto.Models.ModelCliente

@{
    ViewBag.Title = "Cadastrar Novo Cliente";
}
<h2 style="text-align:center;">Novo Cliente</h2>

<div class="center">
    @using (Html.BeginForm("CadCliente", "Cliente", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group space-around-flex">
                <div class="">
                    @Html.LabelFor(model => model.nomeCli, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.nomeCli, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nomeCli, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group space-around-flex">
                <div class="">
                    @Html.LabelFor(model => model.usuario, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.usuario, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.usuario, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group center">
                <div>
                    @Html.LabelFor(model => model.senha, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.senha, new { htmlAttributes = new { @class = "form-control", placeholder = "Digite a senha" } })
                    @Html.ValidationMessageFor(model => model.senha, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group center">
                <div>
                    @Html.LabelFor(model => model.confSenha, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.confSenha, new { htmlAttributes = new { @class = "form-control", placeholder = "Digite a senha novamente" } })
                    @Html.ValidationMessageFor(model => model.confSenha, "", new { @class = "text-danger" })
                </div>
            </div>
           <div class="form-group center">
                <div class="col-md-10">
                    @ViewBag.msg <br />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Salvar Cliente" class="btn btn-success" />
                </div>
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

