@model ProjetoProduto.Models.ModelProduto
@{
    ViewBag.Title = "Cadastrar Novo Produto";
}
<h2 style="text-align:center;">Novo produto</h2>

<div class="center">
    @using (Html.BeginForm("Indexx", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group space-around-flex">
                <div class="">
                    @Html.LabelFor(model => model.NomeProd, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NomeProd, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NomeProd, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group space-around-flex">
                <div class="">
                    @Html.LabelFor(model => model.DescricaoProd, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.DescricaoProd, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.DescricaoProd, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group center">
                <div>
                    @Html.LabelFor(model => model.EstoqueProd, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EstoqueProd, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.EstoqueProd, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group center">
                <div>
                    @Html.LabelFor(model => model.PrecoProd, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.PrecoProd, new { htmlAttributes = new { @class = "form-control", placeholder = "Preço unitário de fábrica" } })
                    @Html.ValidationMessageFor(model => model.PrecoProd, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group center">
                <div>
                    <label class="control-label col-md-2" for="file">Foto</label>
                </div>
                <div class="col-md-10">
                    <input type="file" name="file" id="file" /> <br />
                </div>
            </div>

            <div class="form-group center">
                <div class="col-md-10">
                    @ViewBag.msg <br />
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Salvar Produto" class="btn btn-success" />
                </div>
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}